<!DOCTYPE html>
<html>
<head>
    <title>Fullscreen Demo</title>
    <style>
        body, html {
            margin: 0;
            padding: 0;
            height: 100%;
            width: 100%;
            background: black;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        button {
            font-size: 24px;
            padding: 10px 20px;
        }
    </style>
</head>
<body>
    <button onclick="openFullscreen()">Go Fullscreen</button>
     <script>
        function openFullscreen() {
            let elem = document.documentElement;
            if (elem.requestFullscreen) {
                elem.requestFullscreen();
            } else if (elem.webkitRequestFullscreen) { // Safari
                elem.webkitRequestFullscreen();
            } else if (elem.msRequestFullscreen) { // IE11
                elem.msRequestFullscreen();
            }
        }
    </script>
</body>
</html>
